# Ignore node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS-specific
.DS_Store

# Environment variables
.env

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# IDEs/editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

